<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854236704326-8g0n0i1qtde0sufe9rof3s3hqt9s5q2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854236704326-8g0n0i1qtde0sufe9rof3s3hqt9s5q2r</string>
	<key>API_KEY</key>
	<string>AIzaSyBZOuGOLIn6UUW52lx7LFQSTPt_Kd8e2Mc</string>
	<key>GCM_SENDER_ID</key>
	<string>854236704326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.addong.firebase</string>
	<key>PROJECT_ID</key>
	<string>flutter-my-app-cac24</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-my-app-cac24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854236704326:ios:ded888c069a90f1f506447</string>
</dict>
</plist>